<section style="padding-top: 50px" class="jumbotron jumbo-heading">
    <div class="container center">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h2 class="grey-text">Get in Touch with me</h2>
                <p>Wanna say hello? Shoot me a message. I might be busy, but I promise, I will definitely get back to you.</p>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 50px" class="valign-wrapper about-me">
    <div class="container valign">
        <div class="row">
            <form role="form" action="https://formspree.io/leninhasda@gmail.com" method="post">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="fullname" name="fullname" type="text" class="validate" required>
                    <label for="fullname">Full Name</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                    <textarea id="message" name="message" class="materialize-textarea" required></textarea>
                    <label for="message" >Message</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                    <button class="btn waves-effect waves-red" type="submit" name="action">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>