<section style="padding-top: 50px" class="jumbotron jumbo-heading">
    <div class="container center">
        <h2 class="grey-text">{{jumboTitle}}</h2>
    </div>
</section>

<section style="padding-top: 50px" class="valign-wrapper about-me">
    <div class="container valign">
        <div class="row">
            <div class="col s12 m3">
                <div class="card" >
                    <div class="card-image">
                        <img src="assets/img/lenin-300x300.jpg" alt="lenin hasda" class="responsive-img">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content social-action valign-wrapper">
                            <a href="https://github.com/leninhasda" target="_blank" class="ico valign"><i class="fa fa-github fa-lg"></i></a>
                            <a href="http://stackoverflow.com/users/3664021/leninhasda" target="_blank" class="ico valign"><i class="fa fa-stack-overflow fa-lg"></i></a>
                            <a href="https://twitter.com/leninhasda" target="_blank" class="ico valign"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="https://bd.linkedin.com/in/leninhasda" target="_blank" class="ico valign"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="http://leninhasda.deviantart.com/" target="_blank" class="ico valign"><i class="fa fa-deviantart fa-lg"></i></a>
                        </div>
                        <div class="card-action hide">
                            <a href="#hire-md" class="btn btn-sm">Hire me!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m9">
                    <div class="card">
                        <div class="card-content" ng-bind-html="bodyContent | html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>