<section style="padding-top: 50px" class="jumbotron">
    <div class="container center">
        <h2 class="grey-text">{{jumboTitle}}</h2>
    </div>
</section>

<section style="padding-top: 50px" class="valign-wrapper projects-action">
    <div class="container valign">
        <div class="row">
            <div class="col s12 m4" ng-repeat="project in projects">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-green">
                        <a href="" ng-click="showModal(project)">
                            <img src="{{project.thumbnail}}" alt="" class="responsive-img">
                            <p class="card-title {{project.color}}">{{project.name}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal -->
<div id="projectModal" class="modal">
    <div class="modal-content">
        <h5>{{mItem.title}}</h5>
        <p>{{mItem.desc}}</p>
        <b>Skills:</b>
        <ul>
            <li ng-repeat="skill in mItem.skills">- {{skill}}</li>
        </ul>
        <b>Responsbilities:</b>
        <ul>
            <li ng-repeat="resp in mItem.responsibilities">- {{resp}}</li>
        </ul>
        <b>Project Specs:</b>
        <ul>
            <li ng-repeat="spec in mItem.projectSpecs">- {{spec}}</li>
        </ul>
        <p>
            <a href="{{mItem.url}}" target="_blank" class="waves-effect waves-green green-text">
                {{mItem.url}}</a>
        </p>
    </div>
    <div class="modal-footer hide">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#projectModal').modal('open');
    });
</script>

