<!DOCTYPE HTML>
<html ng-app="lnApp">
    <head>
        <title>Blank</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/css/vendor.min.css" />
        <link rel="stylesheet" href="/static/css/custom.min.css" />
        <!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <style>

        </style>
    </head>
    <body class="grey lighten-4">

        <header>
            <nav class="top-nav">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="https://www.youtube.com/watch?v=YraDHSHZfT0" class="brand-logo">
                            <b>lenin hasda</b></small>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index.html">Root</a></li>
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="skills.html">Skills</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="play-ground.html">PlayGround</a></li>
                            <li><a href="contact-me.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div ng-view></div>

        <footer>
            <div class="container">
                <p class="center grey-text">Made with lots of &hearts; using these <a href="tech-stack-used.html" class="red-text text-lighten-3">tech stack</a>.</p>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="/static/js/vendor.min.js"></script>
        <!-- <script src="/static/js/angular.min.js"></script> -->
        <!-- <script src="/static/js/angular-route.min.js"></script> -->
        <!-- <script src="assets/js/jquery-3.1.1.min.js"></script> -->
        <script src="/static/js/app.min.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <!-- <script src="assets/js/main.js"></script> -->

    </body>
</html>